$green: #0eb29a;
$white: #ffffff;
$black: #1b1c1d;
$black-lighten: #5e5e5e;
$dark-blue: #223441;
$overlay-bg: rgba($dark-blue, 0.79);
$yellow: #e6b31e;
$grey: #f2f4f4;
$grey-sec: #f7f7f7;

$font: "Roboto Condensed", sans-serif;

$transition: 400ms linear;

$radiusBtn: 28px;
$radiusTemp: 15px;

$shadow: 0 0 40px rgba(0, 0, 0, 0.45);
$shadow-2: 0 0 40px rgba(0, 0, 0, 0.15);
$shadow-3: 0 0 20px rgba(0, 0, 0, 0.09);
